* {
    margin: 0px;
}

body {
    font-family: 'Poppins', sans-serif;
}

nav {
    height: 55px;
    display: flex;
    flex-direction: row;
    padding: 10px;
    box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
    margin-bottom: 0px;
}

.book-icon {
    max-width: 30px;
}